:root{
    --main-color: #e32b2b;
}

*{
    margin: 0;
    padding: 0;
}




/* Start style home page */

.welcome-page{
    background-size: cover;
    background: linear-gradient(to right, #24363e, #061016);
    min-height: 700px;


}

.welcome-page .title h1{
    
    text-align: center;
    color: #e32b2b;
    font-size: 50px;
    font-family: "dantene";
    margin-top: 60px;

}

.welcome-page form label{
    font-family: 'Dantene';
    font-size: 29px;
    color: #fff;
}

.welcome-page form label span{
    color: var(--main-color);
}

.welcome-page form input{
    font-size: 27px;
    color: #071f2e;
    font-family: 'Dantene';
}

.welcome-page form input:nth-of-type(3){
    display: block;
    font-family: cursive;
    margin-bottom: 30px;
}

/* End style home page */




.footer{
    height: 72px;
    background-color: var(--main-color);
}

.footer .content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.footer p{
    font-size: 20px;
    font-family: fantasy;
    margin-right: 14px;
}
@media only screen and (max-width: 575px){
    .footer p{
        font-size: 15px;
    }
}



.footer p a{
    text-decoration: none;
    color: #fff;
    font-family: 'Dantene';
}

.footer .icon-ln{
    font-size: 30px;
    color: #FFF;
}


